.background {
	position: absolute;
	top: 0;
	width: 100vw;
	height: 100vh;
	padding-top: 40px;
	background: rgba(133, 133, 133, 0.349);
	display: flex;
	justify-content: center;
}

.wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 500px;
	height: 650px;
	background-color: #f8fafc;
	border-radius: 25px;
	padding: 45px;
}

.headCard {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.headcard_product {
	width: 256px;
	height: 261px;
}

.nsBtn {
	background: linear-gradient(261.65deg, #efbb37 -3.95%, #cf9e1f 109.44%);
	border: 0;
	border-radius: 30px;
	color: #fff;
	font-weight: 600;
	font-size: 14px;
	width: 71px;
	height: 25px;
	text-align: center;
}

.nsBtnNot {
	background: linear-gradient(261.65deg, #efbb37 -3.95%, #cf9e1f 109.44%);
	border: 0;
	border-radius: 30px;
	color: #fff;
	font-weight: 600;
	font-size: 14px;
	width: 71px;
	height: 26px;
	text-align: center;
	opacity: 0;
}

.cardText {
	text-align: center;
}
.centralBlock {
	width: 100%;
	display: flex;
	justify-content: space-between;
	height: 30px;
}

.footer {
	width: 100%;
	display: flex;
	justify-content: space-around;
}
